extends layout

block content
  main
  
  script#sessions-template(type='text/x-handlebars-template').
    <time class="day_sessions">{{parsedTime}}</time>
    <ul class="sessions">
      {{#each items}}
        <li class="session">
          <section>
            <div class="session_pic">
              <img src="{{subjectPhotoUrl}}", alt="Subject Photo">
            </div>
            <div class="session_desc">
              <h3>{{title}}</h3>
              <summary>{{description}}</summary>
            </div>
            <div class="session_instructor">
              <img src="{{instructorPhotoUrl}}", alt="Instructor Photo">
              <span class="name">{{instructorName}}</span>
            </div>
            <time datatime="{{time}}" class="session_time">
              <span>{{startTime}}</span> - <span>{{endTime}} EDT</span>
            </time>
          </section>
        </li>
      {{/each}}
    </ul>
    
        
  script(type='text/javascript').
    window.channel = !{channelStr};
