doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendors/jquery-1.12.3.min.js')
    script(src='/javascripts/vendors/moment.js')
    script(src='/javascripts/vendors/handlebars-v4.0.5.js')
    script(src='/javascripts/app.js')
  body
    block content
       
