/*** 1. Subject Day ***/
/*** 2. Subject Session ***/
/*** 3. Subject Photo ***/
/*** 4. Subject Description ***/
/*** 5. Instructor Info & Time ****/

body {
  color: #888888;
  background: #F7F7Fa;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  width: 80%;
  margin: 50px auto;
}


/*** Subject Day ***/

.day_sessions{
  color: #666;
  font-size: 1em;
  font-weight: bold;
}


/*** Subject Session ***/

ul.sessions {
  background: #FFF;
  padding: 0;
  margin: 20px 0px 40px 0px;
}

.session {
  background: #FFF;
  display: table;
  border: 1px solid #F1F1F3;
  padding: 10px;
}

.session > section {
  display: table-row;
}

.session > section > div, .session > section > time {
  display: table-cell;
  padding: 15px;
  vertical-align: top;
}


/*** Subject Photo ***/

.session_pic {
  width: 40px;
  padding-right: 0;
  padding: 15px;
}

.session_pic > img {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  display: table-cell;
}


/*** Subject Description ***/

.session_desc > h3 {
  margin-top: 0;
  color: #333;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 1em;
}

.session_desc > summary {
  color: #333;
  line-height: 25px;
}


/*** Instructor Info & Time ***/

.session_instructor, .session_time {
  width: 160px;
  white-space: nowrap;
}

.session_instructor > img {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  float: left;
}

.session_instructor > .name {
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
  color: #666;
  font-size: 0.93em;
}

.session_time {
  color: #666;
  font-weight: bold;
}
